@tailwind base;
@tailwind components;
@tailwind utilities;

.container.auto {
  padding-left: 5vw;
  padding-right: 5vw;
  margin-left: auto;
  margin-right: auto;
}
body {
  background: #2f2f2f;
  font-family: SF Pro Display, SF Pro, Menlo, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  letter-spacing: 0em;
}
.white-comp {
  color: white;
  text-align: center;
  justify: center;
  border-radius: 0.5ch;
  font-family: Menlo;
  background: black;
  opacity: 70%;
  transition-duration: 500ms;
  padding-left: 1ch;
  padding-right: 1ch;
  padding-top: 0.2ch;
  padding-bottom: 0.2ch;
  border: 2px solid white;
  text-decoration: none;
  align-self: center;
}
.white-comp:hover {
  opacity: 100%;
  background: white;
  color: black;
}
.white-comp.capped {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 12ch;
  display: block;
  overflow: hidden;
}

/* Hide the default arrow marker for Webkit browsers */
summary::-webkit-details-marker {
  display: none;
}



